body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Russo One', sans-serif;
  background: #000;
}
.container {
  width: 100vw;
  height: 100vh;
}
header {
  position: relative;
  z-index: 10;
  letter-spacing: 5px;
  font-size: 50px;
}
header h1 {
  margin-top: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hintScroll {
  position: fixed;
  right: 10vw;
  bottom: 10vh;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s;
}
.hintScroll-hidden {
  opacity: 0;
  pointer-events: none;
}
@keyframes moveHintScrollArrow {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 10px;
  }
}
.hintScroll-arrow {
  margin-bottom: 0;
  animation: moveHintScrollArrow 1s ease-in-out infinite alternate;
  -webkit-animation: moveHintScrollArrow 1s ease-in-out infinite alternate;
}

/**/
@keyframes changeSize {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}
.bgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: opacity 1s;
  animation: changeSize 5s ease-in-out infinite alternate;
  -webkit-animation: changeSize 5s ease-in-out infinite alternate;
}
.bgImage-active {opacity: 1;}
.bgImage-1 {background-image: url("../images/1.jpg");}
.bgImage-2 {background-image: url("../images/2.jpg");}
.bgImage-3 {background-image: url("../images/3.jpg");}
.bgImage-4 {background-image: url("../images/4.jpg");}
.bgImage-5 {background-image: url("../images/5.jpg");}

/**/
.stepContent {
  position: absolute;
  bottom: 250px;
  left: 10vw;
  width: 580px;
  opacity: 1;
}
.textContainer {
  position: absolute;
  bottom: 0;
  left: -100px;
  width: 100%;
  border-bottom: 4px solid #ffc400;
  color: white;
  opacity: 0;
  transition: opacity 1s, left 1s;
}
.textContainer h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  margin-bottom: 50px;
  font-size: 34px;
}
.textContainer p {letter-spacing: 1px;}

.textContainer-active {
  opacity: 1;
  left: 0;
}

.socials {
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.social {
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s;
}
.social:hover {
  opacity: 1;
}

/**/
.stepCirclesContainer {
  position: absolute;
  top: 50%;
  left: 2vw;
  margin-top: -105px
}
.stepCircle {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 30px 0;
  cursor: pointer;
  background-color: rgba(255,255,255,0);
  transition: background-color 1s;
}
.stepCircle-active {
  background-color: rgba(255,255,255,1);
}
@media (max-width: 800px) {
  .stepContent {
    position: relative;
    bottom: auto;
    left: auto;
    width: 80%;
    margin: 0 auto;
  }
  .textContainer {
    bottom: auto;
    top: 0;
  }
  .stepCircle {
    display: inline-block;
    margin: 0 10px;
  }
  .stepCirclesContainer {
    top: auto;
    bottom: 20px;
    left: 50%;
    margin-top: 0;
    margin-left: -95px;
  }
  .textContainer h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .textContainer p {
    font-size: 14px;
  }
}